/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,
a,
li {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 4.4rem;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2.1rem;
  font-weight: 400;
}

#star-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../assets/Star-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  width: 700px;
  top: 100px;
  left: -190px;
}

@media (max-width: 600px) {
  #star-one::after {
    display: none;
  }
}

#star-two::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../assets/Star-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 450px;
  width: 450px;
  top: 150px;
  right: -152px;
}

@media (max-width: 600px) {
  #star-two::after {
    display: none;
  }
}

#star-three::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../assets/Star-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  width: 700px;
  top: 100px;
  left: -190px;
}

@media (max-width: 600px) {
  #star-three::after {
    display: none;
  }
}

/* LAYOUT */
.l-container {
  width: 100vw;
  padding-right: 10vw;
  padding-left: 10vw;
}

.l-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

/* UTILITY */
.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-bg--dark-green {
  background-color: #1F9961;
  color: #fff;
}

.u-bg--light-green {
  background-color: #2EB95A;
  color: #fff;
}

.u-bg--grey {
  background-color: #F0F4F5;
  color: #4C5867;
}

.u-pb-1 {
  padding-bottom: 1rem;
}

.u-pb-2 {
  padding-bottom: 2rem;
}

.u-pb-3 {
  padding-bottom: 3rem;
}

.u-pb-4 {
  padding-bottom: 4rem;
}

.u-pb-5 {
  padding-bottom: 5rem;
}

.u-pt-1 {
  padding-top: 1rem;
}

.u-pt-2 {
  padding-top: 2rem;
}

.u-pt-3 {
  padding-top: 3rem;
}

.u-pt-4 {
  padding-top: 4rem;
}

.u-pt-5 {
  padding-top: 5rem;
}

/* COMPONENTS */
.c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}

.c-nav__item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  list-style-type: none;
  padding-right: 2rem;
}

@media (max-width: 600px) {
  .c-nav__item {
    display: none;
  }
}

.c-nav__mobile {
  display: none;
  height: 5rem;
}

@media (max-width: 600px) {
  .c-nav__mobile {
    display: block;
  }
}

.c-nav__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.c-hero {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .c-hero {
    text-align: center;
  }
}

.c-hero__heading {
  margin-bottom: 2rem;
}

.c-text-block {
  max-width: 60vw;
  text-align: center;
}

.c-text-block__heading {
  margin-bottom: 1rem;
}

.c-text-block--text-left {
  text-align: left;
}

@media (max-width: 600px) {
  .c-text-block--text-left {
    text-align: center;
  }
}

.c-list {
  list-style-image: url("../assets/tick.png");
}

.c-list__item {
  text-align: left;
  padding-bottom: 2rem;
}

.c-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: wrap;
}

@media (max-width: 600px) {
  .c-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-btn {
  border-radius: 5px;
  padding: 1rem 3rem;
  border: 1px solid #fff;
  margin: 1rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.c-btn--green {
  background-color: #2EB95A;
  color: #fff;
}

.c-btn--white {
  background-color: #fff;
  color: #2EB95A;
}

.c-image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60vw;
}

@media (max-width: 1000px) {
  .c-image-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-image-text__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  width: 100%;
  margin: 0 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 600px) {
  .c-image-text__image {
    margin: 0;
  }
}

.c-image-text__text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 2rem;
}

@media (max-width: 600px) {
  .c-image-text__text {
    margin: 0;
  }
}

.c-img-grid {
  background-color: #F0F4F5;
  border: 2px solid #F0F4F5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

@media (max-width: 900px) {
  .c-img-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    border: none;
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  .c-img-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    border: none;
    background-color: transparent;
  }
}

.c-img-grid__wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.c-img-grid__item {
  padding: 2rem;
  background-color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=main.css.map */