/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,
a,
li {
    font-size: 1.6rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: 4.4rem;
    font-weight: 400;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-size: 2.1rem;
    font-weight: 400;
}

#star-one {
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-image: url(../assets/Star-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 700px;
        width: 700px;
        top: 100px;
        left: -190px;
        @media (max-width: 600px) {
            display: none;
        }
    }
}

#star-two {
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-image: url(../assets/Star-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 450px;
        width: 450px;
        top: 150px;
        right: -152px;
        @media (max-width: 600px) {
            display: none;
        }
    }
}

#star-three {
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-image: url(../assets/Star-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 700px;
        width: 700px;
        top: 100px;
        left: -190px;
        @media (max-width: 600px) {
            display: none;
        }
    }
}