/* COMPONENTS */

.c-nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    &__item {
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
        padding-right: 2rem;
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__mobile {
        display: none;
        height: 5rem;
        @media (max-width: 600px) {
            display: block;
        }
    }
    &__button {
        align-self: flex-end;
    }
}

.c-hero {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 600px) {
        text-align: center;
    }
    &__heading {
        margin-bottom: 2rem;
    }
}

.c-text-block {
    max-width: 60vw;
    text-align: center;
    &__heading {
        margin-bottom: 1rem;
    }
    &--text-left {
        text-align: left;
        @media (max-width: 600px) {
            text-align: center;
        }
    }
}

.c-list {
    list-style-image: url("../assets/tick.png");
    &__item {
        text-align: left;
        padding-bottom: 2rem;
    }
}

.c-buttons {
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.c-btn {
    border-radius: 5px;
    padding: 1rem 3rem;
    border: 1px solid $white-c;
    margin: 1rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    &--green {
        background-color: $green-light-c;
        color: $white-c;
    }
    &--white {
        background-color: $white-c;
        color: $green-light-c;
    }
}

.c-image-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60vw;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    &__image {
        flex: 1;
        height: auto;
        width: 100%;
        margin: 0 2rem;
        align-self: center;
        @media (max-width: 600px) {
            margin: 0;
        }
    }
    &__text {
        flex: 2;
        margin: 0 2rem;
        @media (max-width: 600px) {
            margin: 0;
        }
    }
}

.c-img-grid {
    background-color: $grey-c;
    border: 2px solid $grey-c;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2px;
    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
        border: none;
        background-color: transparent;
    }
    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
        border: none;
        background-color: transparent;
    }
    &__wrapper {
        background-color: $white-c;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    &__item {
        padding: 2rem;
        background-color: $white-c;
        align-self: center;
    }
}