/* LAYOUT */

.l-container {
    width: 100vw;
    padding-right: 10vw;
    padding-left: 10vw;
}

.l-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    overflow: hidden;
}