/* UTILITY */

.u-flex {
    display: flex;
}

.u-column {
    flex-direction: column;
}

.u-items-center {
    align-items: center;
}

.u-justify-center {
    justify-content: center;
}

.u-justify-between {
    justify-content: space-between;
}

.u-wrap {
    flex-wrap: wrap;
}

.u-bg {
    &--dark-green {
        background-color: $green-dark-c;
        color: $white-c;
    }
    &--light-green {
        background-color: $green-light-c;
        color: $white-c;
    }
    &--grey {
        background-color: $grey-c;
        color: $black-c;
    }
}

// padding-bottom
@for $i from 1 through 5 {
    .u-pb-#{$i} {
        padding-bottom: $i + rem;
    }
}

// padding-top
@for $i from 1 through 5 {
    .u-pt-#{$i} {
        padding-top: $i + rem;
    }
}